.tab-container {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-top: 0.5rem !important;
  @extend .w-98 !optional;
}

mat-dialog-content.mat-dialog-content {
  max-height: 100vh;
}