table {
  width: 100%;
}

.table-container {
  display: flex;
  flex-direction: column;
}

.table-container > * {
  width: 100%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}